<p>Add a client to the database:</p>

<form action="/clients_add" method="post">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input required id="first_name" name="first_name" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="last_name">Last Name:</label>
    <input required id="last_name" name="last_name" type="text" class="form-control">
  </div>

  <button class="btn btn-primary" type="submit">Add</button>
</form>
