<h2>Moxie's Clients</h2>

<% if @clients.any?() %>
  <p>Click on a client for more info:</p>

  <ul>
    <% @clients.each do |client| %>
      <li><a href="/clients/<%= client.id() %>"><%= client.first_name() %> <%= client.last_name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no clients added yet!</p>
<% end %>

  <p><a class="btn btn-success" role="button" href="/clients_add">Add Clients</a></p>
