<div class="jumbotron">
  <h2>Hello!</h2>
  <p>What would you like help with today?</p>

  <p><a class="btn btn-primary" role="button" href="/stylists">View/Add Stylists</a></p>

  <p><a class="btn btn-primary" role="button" href="/clients">View/Add Clients</a></p>
</div>
