<!DOCTYPE html>
<html>
  <head>
    <title>Moxie's Hair Salon</title>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1><a href="/"><img src="http://bit.ly/29UhsTP" alt="information desk person"></a> Moxie's Hair Salon</h1>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
