<p>Add a stylist to the database:</p>

<form action="/stylists" method="post">

  <label for="first_name">First Name:</label>
  <input required id="first_name" name="first_name" type="text">

  <label for="last_name">Last Name:</label>
  <input required id="last_name" name="last_name" type="text">

  <button type="submit">Add</button>
</form>


<% if @stylists.any?() %>
  <p>Click on a stylist for more info:</p>

  <ul>
    <% @stylists.each do |stylist| %>
      <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.first_name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stylists added yet!</p>
<% end %>

<p><a href="/clients">See all clients</a></p>

<p><a href="/">Home</a></p>
