<h1>Record deleted!</h1>

<p><a class="btn btn-primary" role="button" href = "/stylists">Stylists</a></p>
<p><a class="btn btn-primary" role="button" href = "/clients">Clients</a></p>
<p><a class="btn btn-primary" role="button" href = "/">Home</a></p>
