<h3>Update client info</h3>

<form class="form-inline" action="/clients/<%= @client.id() %>/update" method="post">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label for='first_name'>First Name:</label>
    <input id='first_name' name='first_name' type='text' class="form-control">
  </div>
  <div class="form-group">
    <label for='last_name'>Last Name:</label>
    <input id='last_name' name='last_name' type='text' class="form-control">
  </div>
  <button class="btn btn-primary" type="submit">Update</button>
</form>
